ConsoleConsumeWCF/Connected Services/EmployeeTrackerService/EmployeeTracker.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="EmployeeTracker" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64713/EmployeeTracker.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64713/EmployeeTracker.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64713/EmployeeTracker.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFEmployee" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeeTracker_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IEmployeeTracker_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeTracker_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IEmployeeTracker_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeTracker_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IEmployeeTracker_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeTracker_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IEmployeeTracker_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeTracker_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IEmployeeTracker_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeTracker">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeTracker/GetAll" message="tns:IEmployeeTracker_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeTracker/GetAllResponse" message="tns:IEmployeeTracker_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeTracker/GetById" message="tns:IEmployeeTracker_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeTracker/GetByIdResponse" message="tns:IEmployeeTracker_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeTracker/Insert" message="tns:IEmployeeTracker_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeTracker/InsertResponse" message="tns:IEmployeeTracker_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeTracker/Update" message="tns:IEmployeeTracker_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeTracker/UpdateResponse" message="tns:IEmployeeTracker_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeTracker/Delete" message="tns:IEmployeeTracker_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeTracker/DeleteResponse" message="tns:IEmployeeTracker_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmployeeTracker" type="tns:IEmployeeTracker">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IEmployeeTracker/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IEmployeeTracker/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IEmployeeTracker/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IEmployeeTracker/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IEmployeeTracker/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeTracker">
    <wsdl:port name="BasicHttpBinding_IEmployeeTracker" binding="tns:BasicHttpBinding_IEmployeeTracker">
      <soap:address location="http://localhost:64713/EmployeeTracker.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>